body {
  margin: 0;
  background: linear-gradient(to left, #cccecf, #a069e7);
}


.cal-body {

  width: 400px;
  margin: auto
}



.display {
  text-align: right;
  border: 15px solid rgba(41, 38, 44, 0.836);
  padding: 40px;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  width: 340px;
  height: 80px;


}

.cal-body>input:hover,
.cal-body>input:focus {
  background-color: #aa81e0;
}


.btn {
  border: 3px solid black;

  text-align: center;
  background-color: rgba(41, 38, 44, 0.836);
  color: white;
  font-size: 20px;
  width: 85px;
  height: 80px;
  float: left;

}

.btn2 {
  width: 170px;
}